$BLUE : #A5D8FF;
$TEXTCOLOR : #F08C03;
$LISTTEXTCOLOR:#2F9E44;
$BORDERCOLOR:#F4A426;
#hobbies{
    height: 42vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    background-color: $BLUE;
    border: 1.5px solid $BORDERCOLOR;

    #hobbies-heading{
        padding-top: 20px;
        align-self: center;
        color: $TEXTCOLOR;
        font-size: 25px;
    }
    #list-container{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap:10px;
        .list-element{
            color: $LISTTEXTCOLOR;
            list-style: none;
            font-size: 20px;
        }   
    }
}

@media screen and (max-width: 414px) {
    #hobbies{
        height: 25vh;
    }
}