.profile-container{
    padding: 40px;

    .profile-name{
        font-size: 30px;
        padding-block: 5px;
    }
    .profile-fullname{
        font-size: 12px;
        padding-block: 5px;
    }
    .profile-qualification{
        font-size: 30px;
        padding-block: 5px;
    }
}