@use './fonts.scss' as *;

$TEXTCOLORWHITE:white;
$BACKGROUNDCOLOR:black;
$IMAGECOLORWHITE:white;
$POSTBUTTONCOLOR:#1D9BF0;
$TEXTCOLORGREY:grey;
$POSTBUTTONCOLORNONACTIVE:#0F4E78;
$BACKCOLORLIGHTGRAY:#202327;
$BACKCOLORMEDIUMGRAY:#2F3336;

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $BACKGROUNDCOLOR;
    main{
        display: flex;
        justify-content: center;
    }
}
.profile-logo-button{
    display: none;
}
.home-navigation{
    display: none;
}
.navigation-section{
    height: 100vh;
    margin: 0;
    margin-left: 40px;
    padding-inline: 8px;
    width: 18%;
    display: flex;
    flex-direction: column;

    .upper-nav-block{
        .main-nav{
            width: fit-content;
            img{
                width: 50px;
                height: 50px;
                padding-block: 10px;
            }
            margin: 2px;
        }
        .nav-option-element{
            margin-block: 4px;
            width: fit-content;
            display: flex;
            padding: 12px;
            gap: 10px;
            img{
                width: 26.25px;
                height: 26.25px;
            }
            p{
                font-family: ChirpRegular,sans-serif;
                font-size: 20px;
                font-weight: 400;
                padding: 0;
                margin: 0;
                color: $TEXTCOLORWHITE;
            }
        }
        #nav-post-button{
            background-color:$POSTBUTTONCOLOR;
            font-size: 15px;
            font-family: ChirpMedium,sans-serif;
            color: $TEXTCOLORWHITE;
            width: 231.094px;
            height: 50px;
            padding-inline: 32px;
            border: 1px;
            border-radius: 30px;
        }
    }
    .lower-nav-block{
        margin-top: 80px;
        padding: 12px;
        display: flex;
        width: fit-content;
        #profile-image-nitesh{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .profile-details{
            color: $TEXTCOLORWHITE;
            padding-left: 10px;
            padding-right: 10px;
            p{
                width: 137.047px;
                margin: 0;
            }
            #name{
                font-size: 15px;
                font-family: ChirpMedium,sans-serif;
            }
            #username{
                font-size: 15px;
                font-family: ChirpRegular,sans-serif;
            }
        }
        #three-dots-nav{
            padding-left: 20px;
            width: 18.75;
            height:18.75px;
        }
    }
}
.users-message-container{
    border-inline: 1px solid $BACKCOLORMEDIUMGRAY;
    width: 28%;
    display: flex;
    flex-direction: column;
    .messages-heading{
            color: $TEXTCOLORWHITE;
            font-family: ChirpBold,sans-serif;
            font-weight: 500;
            padding: 10px;
            padding-left: 25px;
            font-size: 30px;
            margin: 0;
            border-bottom: 1px solid $BACKCOLORMEDIUMGRAY;
        }
    
    .users-dm{
        display: flex;
        flex-direction: column;
        .messages-individual-user{
            display: flex;
            padding-left: 25px;
            margin-top: 10px;
            gap: 13px;
            padding-block: 10px;
            .messages-user-image{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .messages-user-name{
                color: $TEXTCOLORWHITE;
                font-family: ChirpMedium,sans-serif;
                font-weight: 600;
                font-size: 20px;
                padding-top: 15px;
                margin: 0;
            }
            .messages-user-username{
                color: $TEXTCOLORGREY;
                font-family: ChirpMedium,sans-serif;
                font-weight: 300;
                font-size: 18px;
                padding-top: 17px;
                margin: 0;
            }
        }
    }
}
.direct-message-container{
    display: none;
    height: 100vh;
    position: relative;
    width: 34%;
    border-right: 1px solid $BACKCOLORMEDIUMGRAY;
    .direct-message-user-name{
        .arrow-back{
            display: none;
        }
        p{
            color: $TEXTCOLORWHITE;
            font-family: ChirpBold,sans-serif;
            font-weight: 500;
            padding: 10px;
            padding-left: 25px;
            font-size: 30px;
            margin: 0;
            border-bottom: 1px solid $BACKCOLORMEDIUMGRAY;
        }
    }
    .coversation-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 87.5vh;
        padding-inline: 5px;
        .coversation-user{
            margin-top: 14px;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 8px;
            padding-left: 5px;
            .conversation-message{
                padding: 10px;
                padding-inline: 20px;
                background-color: $BACKCOLORMEDIUMGRAY;
                border-top-left-radius: 50px;
                border-top-right-radius: 60px;
                border-bottom-right-radius: 60px;
                font-family: ChirpMedium,sans-serif;
                font-weight: 400;
                font-size: 21px;
                margin: 0;
                color: $TEXTCOLORWHITE;
            }
            .conversation-time{
                margin: 0;
                font-family: ChirpMedium,sans-serif;
                font-size: 12px;
                color: $TEXTCOLORGREY;
            }
        }
        .coversation-you{
            margin-right: 5px;
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            align-items: end;
            margin-top: 14px;
            width: 60%;
            gap: 8px;
            .conversation-message{
                font-family: ChirpMedium,sans-serif;
                font-size: 21px;
                color: $TEXTCOLORWHITE;
                margin: 0;
                background-color: $POSTBUTTONCOLOR;
                border-top-left-radius: 30px;
                border-bottom-left-radius:30px;
                border-top-right-radius: 30px;
                padding: 10px;
                padding-inline: 20px;
            }
            .conversation-time{
                margin: 0;
                color: $TEXTCOLORGREY;
                font-family: ChirpMedium,sans-serif;
                font-size: 12px;
            }
        }
        
        
    }

    .message-box-container{
        border-top: 1px solid #202327;
        width: 100%;
        position: absolute;
        bottom: 5px;
        padding-top: 10px;
        .message-box{
            display: flex;
            justify-content: space-between;
            background-color: #202327;
            border-radius: 30px;
            padding-inline: 20px;
            width: 95%;
            padding-block: 10px;
            margin: 0 auto;
            #message-box-input{
                border: none;
                outline: none;
                font-family: ChirpMedium,sans-serif;
                font-size: 22px;
                background-color: transparent;
                color: $TEXTCOLORWHITE;
            }
            #message-box-button{
                width: 30px;
                height: 30px;
            }
        }
    }
    
}

@media only screen and (max-width: 414px){
    body{
        main{
            position: relative;
            display: flex;
            justify-content:flex-start;
            width: 100vw;
            height: 100vh;
        }
    }
    .profile-logo-button{
        display: flex;
        position: absolute;
        width: fit-content;
        top: 12px;
        left: 12px;
        img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }

    .navigation-section{
        display: none;
    }

    .users-message-container{
        width: 100%;
        .messages-heading{
            margin: 0;
                width: 100%;
                padding: 15px;
                padding-left: 55px;
                font-size: 25px;
            }
        
        .users-dm{
            .messages-individual-user{
                width: 100%;
                padding-left: 20px;
                gap: 10px;
                .messages-user-image{
                    width: 45px;
                    height: 45px;
                }
                .messages-user-name{
                    font-size: 18px;
                    padding-top: 13px;
                }
                .messages-user-username{
                    font-size: 16px;
                    padding-top: 14px;
                }
            }
        }
    }

    .direct-message-container{
        background-color: black;
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 999;
        border-inline: 1px solid $BACKCOLORMEDIUMGRAY;

        .direct-message-user-name{
            display: flex;
            width: 100%;
            gap: 5px;
            .arrow-back{
                display: flex;
                padding-top: 12px;
                padding-left: 5px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            p{
                width: 100%;
                font-size: 25px;
            }
        }
        .coversation-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 87vh;
            .coversation-user{
                .conversation-message{
                    font-size: 18px;
                }
            }
            .coversation-you{
                margin-right: 6px;
                .conversation-message{
                    font-size: 18px;
                }
            }
        }
    
        .message-box-container{
            bottom: 13px;
            width: 97%;
            .message-box{
                #message-box-input{
                    font-size: 18px;
                }
                #message-box-button{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .home-navigation{
        border-top: 1px solid gray;
        width: 100%;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
        .nav-option-element{
            padding-block: 10px;
            .nav-svg-image{
                width: 30px;
                height: 30px;
            }
        }
    }
}