$GREY: #555555;


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5px;
    width: 99%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;

    .sub-container-1{
        margin: 0;
        padding: 0;
        padding-left: 40px;
        .big-heading{
            margin: 0;
            font-size: 100px;
        }
        .small-heading{
            margin: 0;
            font-size: 30px;
        }

    }
    .sub-container-2{
        padding-left: 50px;
        display: flex;
        flex-wrap: wrap;
        .sub-container-2-group-1{
            flex-basis: 50%;
            display: flex;
            .temp{
                display: flex;
                align-items: flex-start;
                padding-top: 10px;
            }
        }
        .sub-container-2-group-2 p{
            font-size: 30px;
            margin: 3px;
        }
    }
    .sub-container-3{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .temperature-values{
            display: flex;
            justify-content: space-between;

            p{
                flex-basis: 50%;
                text-align: center;
                font-size: 35px;
                padding: 0 10px;
            }
        }
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
        }
    }
}
.image{
    width: 140px;
    height: 140px;
}
.temp-value{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}


#p1{                    
    font-size: 75px;
    line-height: 4.5rem;
}
#p2{
    font-size: 30px;
}
.deg{
    font-size: 30px;
}
.days{
    font-size: 35px;
    font-weight: 600;
}
.pollen{
    text-align: center;
    font-size: 30px;
}
.text-color{
    color: $GREY;
}