html {
    height: 100%;
    background-color: #A0E9FF;
}

body{
    display: flex;
    flex-direction: column;
    margin: 50px;
    height: 85%;
    margin-inline: 400px;
    padding: 0;
    border: 1px solid black;
}
header{
    flex-basis: 9%;
    .navbar{
        height: 100%;
        background-color: #190482;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            height: fit-content;
            font-family: "Nunito", sans-serif;
            color: #C2D9FF;
            font-weight: 600;
            font-size: 50px;
            padding: 0;
            margin: 0;
            width: fit-content;
        }
    }
}
main{
    flex-basis: 93%;
    background-color: #8E8FFA;
    display: flex;
    flex-direction: column;
    .messages{
        height: 70vh;
        overflow: scroll;
        
        overflow-x: hidden;
        .message-format{
            margin-block: 20px;
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;
            padding-inline: 20px;
            .avatar-logo{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
            .text-message{
                border-radius: 20px;
                padding-inline: 15px;
                width: fit-content;
                background-color: #7752FE;
                font-family: "Caveat", cursive;
                font-size: 25px;
                font-weight: 700;
                margin: 0;
                
            }
        }
    }
    .chatbox{
        width: 40%;
        bottom: 15px;
        position: fixed;
        display: flex;
        left: 30%;
        justify-content: center;
        gap: 15px;

        input{
            text-decoration: none;
            outline: none;
            background-color:transparent;
            font-family: "Nunito", sans-serif;
            font-size: 20px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 50px;
        }
        button{
            background-color: #7071E8;
            color: #C2D9FF;
            font-size: 20px;
            font-family: "Nunito", sans-serif;
            font-weight: 800;
            border: 2px solid black;
            border-radius: 30px;
            padding-block: 4px;
            padding-inline: 10px;
            &:hover{
                background-color: #190482;
                cursor: pointer;
            }
        }
    }
}
