/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}

header {
  width: 98%;
  background-color: #1871c2;
  display: flex;
  margin-top: 20px;
}
header p {
  padding: 15px;
  padding-left: 25px;
  color: white;
  font-family: "popins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin: 0;
}

main {
  display: flex;
}
main #stock-dashboard {
  width: 80%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}
main #stock-dashboard #stock-details {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
main #stock-dashboard #stock-details .stock-identity {
  border: 1px solid #000;
  height: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
}
main #stock-dashboard #stock-details .stock-identity #stock-image {
  width: 70px;
  height: 50px;
}
main #stock-dashboard #stock-details .stock-identity #stock-name {
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
main #stock-dashboard #stock-details .stock-price {
  border: 1px solid #000;
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
}
main #stock-dashboard #stock-details .stock-price #price-tag {
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
main #stock-dashboard #stock-details .stock-price #current-stock-price {
  width: 60px;
  text-align: center;
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 300;
  font-size: 25px;
}
main #stock-dashboard #stock-details .stock-price #stock-growth-percentage {
  width: 100px;
  text-align: center;
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 200;
  font-size: 20px;
}
main #stock-dashboard #stock-details .quantity-container {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #stock-dashboard #stock-details .quantity-container #quantity-box {
  text-align: center;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "popins", sans-serif;
  font-weight: 200;
  font-size: 20px;
}
main #stock-dashboard #stock-details .buy-button-container {
  display: flex;
  align-items: center;
}
main #stock-dashboard #stock-details .buy-button-container #buy-button {
  color: #2f9e44;
  border: 1px solid #b2f2bb;
  padding: 10px;
  background-color: #b2f2bb;
  font-family: "popins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding-inline: 20px;
}
main #stock-dashboard #stock-details .sell-button-container {
  display: flex;
  align-items: center;
}
main #stock-dashboard #stock-details .sell-button-container #sell-button {
  padding: 10px;
  border: 1px solid #e03131;
  color: #e03131;
  background-color: #ffc9c9;
  font-family: "popins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding-inline: 20px;
}
main #stock-dashboard #stock-graph {
  padding: 20px;
}
main #stock-dashboard #stock-graph .grid-cont {
  width: 90%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}
main #stock-dashboard #stock-graph .grid-cont .gridblock {
  width: 190px;
  height: 170px;
  border: 1px dashed gray;
}
main #history-dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
main #history-dashboard .history-p {
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 400;
  font-size: 50px;
}
main #history-dashboard .history-details-container .stock-transaction-details {
  width: 80%;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont1 {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  gap: 10px;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont1 .sd-block1 {
  display: flex;
  gap: 10px;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont1 .sd-block1 p {
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont1 .sd-block2 {
  display: flex;
  gap: 10px;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont1 .sd-block2 p {
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont1 .sd-block3 {
  display: flex;
  gap: 10px;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont1 .sd-block3 p {
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}
main #history-dashboard .history-details-container .stock-transaction-details .cont2 p {
  margin: 0;
  font-family: "popins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}/*# sourceMappingURL=styles.css.map */